html {
    font-size: 18px;

    @media (max-width: 768px) {
        font-size: 15px;
    }

    @media (max-width: 480px) {
        font-size: 14px;
    }
}

.main,
.sidebar {
    background-color: $background;
    padding: 0;
}

.ect-big-card-wrap {
    .main {
        max-width: 860px;
        margin: auto;
    }
}
