.header-container {
    background-color: $primary;
    color: $on-primary;

    .header-container-in {
        .header {
            .header-in {
                .logo {
                    .site-name {
                        color: inherit;
                    }
                }
            }
        }
    }

    .navi {
        background-color: inherit;

        .navi-in {
            .menu-item {
                position: relative;
                width: auto;

                a {
                    color: inherit;
                    position: relative;
                    padding: 0 1.8rem;

                    &:hover {
                        background-color: inherit;
                    }
                }

                &:hover {
                    &::before {
                        opacity: 0.04;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    background-color: $on-primary;
                    transition: all 300ms ease;
                    opacity: 0;
                }

                .sub-menu {
                    background-color: $surface;
                    color: $on-surface;
                    padding: 8px 0;
                    @include mdc-elevation(8);
                    z-index: 800;
                    border-radius: 4px;

                    .menu-item {
                        &::before {
                            background-color: $on-surface;
                        }
                    }

                    ul {
                        margin-top: -8px;
                    }
                }
            }
        }
    }
}
