/* アーカイブタイトル */

.archive-title {
    position: relative;
    background-color: $surface;
    color: $on-surface;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0;
    border-bottom: 1px solid #888;

    .fa {
        margin-right: 1rem;
    }
}

/* リスト */

// 全体に適用するやつ
.a-wrap {
    position: relative;
    background-color: $surface;
    color: $on-surface;
    padding: 0.5rem;
    margin: 0;
    border-radius: 0;
    transition: all 300ms ease;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    opacity: 1;

    &::after {
        content: "";
        transition: all 100ms ease-in-out,
            height 50ms ease-in-out;
        position: absolute;
        bottom: 0;
        left: 0.5rem;
        right: 0.5rem;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.13);
        opacity: 1;
    }

    // hover時アクション
    &:hover {
        background-color: transparent;

        &::after {
            transition: all 200ms ease-in-out,
                height 75ms ease-in-out;
            background-color: rgba(221, 221, 221, 0.3);
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            z-index: 200;
        }
    }

    .e-card {
        // 横並びに
        display: flex;
        flex-direction: row;

        .card-thumb {
            // 余白なくしたい
            position: relative;
            flex-shrink: 0;
            margin: 0;
            padding: 0;

            &::after {
                content: "";
                display: block;
                padding-top: 66%;
            }

            img {
                position: absolute;
                object-fit: cover;
                height: 100%;
                width: 100%;
            }

            // カテゴリーラベル
            .cat-label {
                border:none;
                top: 0;
                left: 0;
                font-size: 0.8em;
                line-height: 1;
                padding: 0.5rem;
                opacity: 1;
                background-color: rgba(64, 72, 84, 0.9);
                color: #fafafa;
            }
        }

        .card-content {
            position: relative;
            margin: 0;
            padding: 0;
            flex-grow: 1;
            overflow: hidden;

            .card-title {
                padding: 1rem;
                margin: 0;
                display: block;
            }

            .card-snippet {
                padding: 0rem 1rem;
                max-height: 5.5em;
            }

            .card-meta {
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0), $surface 1rem);
                padding: 1rem 1rem 0;
                width: 100%;
                border-radius: 4px;

                span {
                    padding: 0;
                    margin-right: 0.5em;
                }
            }
        }
    }
}

// でかいサムネイル
.ect-big-card-first .a-wrap:first-of-type,
.ect-big-card .a-wrap,
.ect-vertical-card .a-wrap {
    padding: 0;

    .e-card {
        flex-direction: column;

        .card-thumb {
            position: relative;
            padding: 0;
            width: 100%;
            height: auto;
            max-width: unset;
            max-height: 450px;
        }

        .card-content {
            padding: 0.5rem 0;
            height: auto;
            max-height: unset;

            .card-snippet {
                max-height: unset;
            }

            .card-meta {
                position: static;
                padding: 0.5rem 1.5rem 0;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
            }
        }
    }
}

.ect-vertical-card .a-wrap {
    .e-card .card-content {
        padding-bottom: 2rem;

        .card-meta {
            position: absolute;
            bottom: 0.5rem;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), $surface 0.5rem);
        }
    }
}

//広告
.list .google-auto-placed{
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0.5rem;
        right: 0.5rem;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.13);
    }
}

// ページネーション
.pagination {
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    width: fit-content;
    margin: 24px auto;

    .page-numbers {
        display: inline-block;
        width: fit-content;
        background-color: $surface;
        position: relative;
        font-size: 0.875rem;
        line-height: 48px;
        height: 48px;
        font-weight: 500;
        padding: 0 24px;
        margin: 0;
        flex: 1 0 auto;
        border: none;
        border-radius: 0;

        &.current {
            color: $primary;
            border-bottom: 2px solid $primary;
        }

        &:hover {
            background-color: $surface;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: $primary;
                opacity: 0.04;
            }
        }
    }
}

.pagination-next {
    width: fit-content;
    margin: 1rem auto 1rem auto;

    a {
        background-color: $primary;
        color: $on-primary;
        font-size: 1rem;
        border: none;
        border-radius: 4px;
        padding: 0.5rem 1rem;

        &:hover {
            background-color: $primary;
            color: $on-primary;
            opacity: 0.8;
        }
    }
}
