.pagination-next {
    display: none;
}

.pagination {
    border-radius: 4px;
    overflow: hidden;
    @include mdc-elevation(1);

    .page-numbers {
        background-color: $surface;
        position: relative;
        font-size: .875rem;
        line-height: 48px;
        height: 48px;
        font-weight: 500;
        padding: 0 24px;
        margin: 0;
        position: relative;
        display: flex;
        flex: 1 0 auto;
        justify-content: center;
        box-sizing: border-box;
        border: none;
        cursor: pointer;
        border-radius: 0;

        &.current {
            color: $primary;
            border-bottom: 2px solid $primary;
        }

        &:hover {
            background-color: $surface;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: $primary;
                opacity: 0.04;
            }
        }
    }
}