/* コンテナ等の配置に関するデザイン */
// 1.サイドバーの幅を固定したい
// やっぱしない
.content {
    .content-in {
        flex-wrap: nowrap;
        .main,
        .sidebar {
            border-radius: 0;
            border: none;
            padding: 0;
        }

        .main {
            flex-grow: 1;
            margin-right: 10px;

            @media (max-width: 834px) {
                margin: 1rem 0 0 0;
            }
        }

        .sidebar {
            flex-shrink: 0;
            margin: 0 0.5%;
        }
    }
}
